.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s ease;

    &.show{
        display: flex;
    }
    &.hide{
        display: none;
    }
}
.modal__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__body{
    padding: 0 20px;

    iframe{
        max-width: 100%;
        max-height: 500px
    }
}