@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}



body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Nunito',sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;

}

.container{
  width: 100%;
  max-width: 1144px;
  padding: 0 20px;
  margin: 0 auto;
}

@import "_var.scss";
@import "fonts.scss";
@import "header.scss";
@import "menu.scss";
@import "modal.scss";
